h1{
    text-align: center;
    background-color:#c0d1d1;
    color: grey
}

a{
    float: left;
    padding-right: 10px;
    color: grey
}

.selected {
    color: white;
    font-weight: bold;
}

.myheader {
    padding:5px;
    /* margin:10px */
}