<div class="container">

    <!-- header -->
    <div class="row myheader">
       <div class="col-md-12">
            <h1>
                <a 
                [routerLink]="['/home']"
                [routerLinkActive]="['selected']"
                [routerLinkActiveOptions]="['{exact: true}']"
                >Home</a>
                <a 
                [routerLink]="['/live']"
                [routerLinkActive]="['selected']"
                [routerLinkActiveOptions]="['{exact: true}']"
                >Live</a>

                News App
            </h1>
       </div>
    </div>

    <!-- content -->
    <router-outlet></router-outlet>
    

</div>